<div class="posts-bloc">
  <div class="user-bloc">
    <div class="user-image">
      <img src="<%= @user.photo %>" alt="user image">
    </div>
    <div class="user-data">
      <h2><%= @user.name%></h2>
      <span class="user-posts">Number of posts: <%= @user.posts_counter%></span>
    </div>
  </div>

  <% @user.posts.each do |post| %>
    <%= render partial: "post", locals: { post: post, user: @user } %>
  <% end %>

  <button class="pagination clickable">Pagination</button>
  <br>
  <%= button_to 'Add New Post', new_user_post_path(@user), method: :get, class: "clickable pagination"%>
</div>
