<div class="posts-bloc">
  <div class="user-bloc-posts">
    <div class="user-bloc-post">
      <h4><%= @post.title %></h4>
      <span class="user-post-content-comments">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
      <span class="user-post-content"><%= @post.tex %></span>
    </div>
    <div class="user-bloc-post-comments">
      <%= render partial: 'comment', locals: { post: @post, comments: @post.comments }%>
    </div>
  </div>
</div>
