<div class="posts-bloc">
  <div class="user-bloc-posts">
    <div class="user-bloc-post">
      <h4><%= @post.title %></h4>
      <span class="user-post-content-comments">Comments: <%= @post.comments_counter || 0%>, Likes: <%= @post.likes_counter || 0%></span>
      <span class="user-post-content"><%= @post.text %></span>
    </div>
    <%= render partial: 'comment', locals: { post: @post, comments: @post.comments }%>
  </div>
</div>
